{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="contact-area default-padding">
        <div class="container">
            <div class="contact-items">
                <div class="row">
                    <div class="col-lg-8 col-md-8 contact-box left-info">
                        <div class="form-items info-items" align="center">
                            <h2>Password Recovery</h2>
                            <form method="POST" action="{% url 'otp' %}" class="login contact-form">
                                <!-- Prevent XSS attacks -->
                                {% csrf_token %}
                                {{form}}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" name="submit" id="submit">
                                            Get OTP
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}