{% extends '_base.html' %}
{% load static %}

{% block content %}

<body>
    <div class="contact-area default-padding">
        <div class="container">
            <div class="contact-items">
                <div class="row">
                    <div class="col-lg-8 col-md-8 contact-box left-info">
                        <div class="form-items info-items" align="center">
                            <h2>OTP Verification</h2>
                            <div class="row">
                                <div class="col-lg-12 m-0 p-0">
                                    {% if error_message %}
                                        <div class="alert alert-error">
                                            <strong>{{ error_message }}</strong>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <form method="post", action="{% url  'otp_verrification' %}">
                                {% csrf_token %}
                                <input type="hidden" id="email" name="email" value="{{ email }}">
                                <label for="otp_code">Enter OTP Code:</label>
                                <input type="text" id="otp_code" name="otp_code" required>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}